html,
body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 1.3rem;
}
 
* {
  box-sizing: border-box;
}
 
a {
  color: red;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.6rem;
}
 
a:hover {
  text-decoration: underline;
}
 
img {
  max-width: 100%;
  display: block;
}

h1{
  color: orange;
  text-transform: capitalize;
}

img{
  width: 100%;    
  max-width: 500px;  
  height:  auto;    
  margin: 0 auto;
}